html,
body,
.root {
    height: 100%;
}


/* main page */

.header {
    background: white;
    display: flex;
    color: grey;
    justify-content: space-around;
    -webkit-box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.67);
    box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.67);
}

.header span {
    color: black;
}

.l {
    text-decoration: none;
    color: gray;
}

Link h2 {
    text-decoration: none;
}

.glink {
    text-decoration: none;
    color: aqua;
}

.gbtn {
    position: relative;
    overflow: hidden;
    border: none;
    padding: 10px 20px;
    box-shadow: 10px 4px 1px black;
    z-index: 1;
    color: #FAABAD;
    background-color: whitesmoke;
    border-radius: 30px;
    -webkit-box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.67);
    box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.67);
}

.list-books-content {
    padding: 0 0 80px;
    flex: 1;
}

.bookshelf {
    background-color: #FAABAD;
    margin-top: -40px;
}

@media (min-width: 600px) {
    .bookshelf {
        padding: 0 20px 40px;
    }
}

.bookshelf-title {
    border-bottom: 1px solid #dedede;
}

.bookshelf-books {
    text-align: center;
}

.open-search {
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.open-search button {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2e3c7d;
    background-image: url('./icons/add.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 0;
    outline: 0;
}

.open-search button:hover {
    background-color: rgb(0, 102, 0);
}


/* search page */

.search-books-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-books-input-wrapper {
    flex: 1;
    background: #e9e;
}

.search-books-bar input {
    width: 100%;
    padding: 15px 10px;
    font-size: 1.25em;
    border: none;
    outline: none;
}

.close-search {
    display: block;
    top: 20px;
    left: 15px;
    width: 50px;
    height: 53px;
    background-image: url('./icons/arrow-back.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    font-size: 0;
    border: none;
    outline: none;
}

button:active {
    border: red;
    outline: none;
}

.search-books-results {
    padding: 80px 10px 20px;
}


/* books grid */

.books-grid {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.books-grid li {
    padding: 10px 15px;
    text-align: left;
}

.book {
    width: 140px;
}

.book-title,
.book-authors {
    font-size: 0.8em;
}

.book-title {
    margin-top: 10px;
}

.book-authors {
    color: #999;
}

.book-top {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
}

.book-shelf-changer {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #5d7fac;
    background-image: url('./icons/arrow-drop-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}


/* book cover */

.book-cover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #eee;
}

.book-cover-title {
    padding: 20px 10px 0;
    text-align: center;
    font-size: 0.8em;
}

.bookshelf-title {
    border: none;
    color: whitesmoke;
    background-color: #faabad;
}

.book {
    background-color: #90D3E0;
    display: flex;
    -webkit-box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.67);
    box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.67);
    width: 400px;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.book-top {
    margin-left: 30px;
}

.book-bottom {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    color: white;
}

.book-title {
    font-size: larger;
    font-weight: 600;
}

.book-authors {
    color: white;
    font-weight: 600;
    font-size: medium;
}

.landing {
    display: flex;
}

.landbox {
    display: flex;
    width: 50%;
    justify-content: center;
    margin-left: 15%;
    margin-top: 100px;
}

.landbox h1 {
    color: grey;
    font-weight: 600;
    font-size: 40px;
}

.landbox p {
    color: grey;
}

.btn {
    padding: 10px;
    border: none;
    background-color: #FAABAD;
    color: white;
}

.landimage {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}